<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="Aleman">
    <div class="text-center page-breadcrumb">
      <div class="container">

      </div>
    </div><!--/.page-breadcrumb-->

    <div class="welcome  text-center">
      <h1> ALEMAN</h1>
    </div>

    <div id="projects-details" class="padding-top">

      <div class="informacion-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2>Programa de Alemán</h2>
              <p>Aprende esta asombroso idioma con los mejores profesores de la zona, contamos con los libros del profesor, libro del estudiante, libro de ejercicios, cd de audio, de la <strong>Editorial HUEBER, compilado por Hartmut Aufderstraße, Jutta Müller y Thomas Storz </strong> 4ta Edicion, Munich, Alemania, 2001.
              </p>

              <div class="row">
                <div class="col-md-6">
                  <p><img class="" src="/images/ingles/reloj-circular-p.png">  Por definir </p>
                </div>
                <div class="col-md-6">
                  <p><img class="" src="/images/ingles/calendario-p.png"> 3 meses en curso personalizado</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <img class="img-responsive" src="/images/home/idiomas/i11.jpg" alt="" />
            </div>
          </div>


        </div>
      </div>


      <div class="row other-products padding-top padding-bottom text-center">
        <div class="container">
          <div class="section-title">
            <h2>otros <span>programas</span></h2>
          </div>
          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i4.jpg" alt="" />
                <div class="overlay">
                  <a href="ingles.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>INGLÉS</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i2.jpg" alt="" />
                <div class="overlay">
                  <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>ÁRABE</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i3.jpg" alt="" />
                <div class="overlay">
                  <a href="frances.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>FRANCÉS</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                <div class="overlay">
                  <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>MANDARÍN</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!--/Project-details-->


    <footer id="footer">
      <% include ../../../partials/footer %>
    </footer><!--/#footer-->
  </div>
  <!--/#scripts-->
</body>
</html>
