<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="portfolio-page">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Programa <span>Árabe</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div id="projects-details" class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>POR APERTURAR</h2>
            <p></p>
          </div>
          <div class="col-sm-6">
            <img class="img-responsive" src="/images/home/idiomas/i22.jpg" alt="" />
          </div>
        </div>
        <div class="row other-products padding-top padding-bottom text-center">
          <div class="section-title">
            <h2>otros <span>programas</span></h2>
          </div>
          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i1.jpg" alt="" />
                <div class="overlay">
                  <a href="aleman.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>ALEMÁN</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i8.jpg" alt="" />
                <div class="overlay">
                  <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>PORTUGUES</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i3.jpg" alt="" />
                <div class="overlay">
                  <a href="frances.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>FRANCÉS</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="project-content">
              <div class="project small-content">
                <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                <div class="overlay">
                  <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                  <h3>MANDARÍN</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/Project-details-->
  </div>

  <footer id="footer">
    <% include ../../../partials/footer %>
  </footer><!--/#footer-->

  <!--/#scripts-->
</body>
</html>
