<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="portfolio-page">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Programa <span>Francés</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div id="projects-details" class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>PROGRAMA DE FRANCE</h2>
            <p>LIBRO DEL PROFESOR, LIBRO DEL ESTUDIANTE, LIBRO DE EJERCICIOS, CD DE AUDIO, de la Editorial CLE INTERNATIONAL, de Maïa Grégoire, 3RA EDICION. Paris, Francia, 2004.
              <p>Duración
                <p>5 meses (20 sábados) en curso personalizado o en grupo.
                  <p>Horarios
                    <p>Sábados de 8:30 a 12:00am
                      <p>	GRAMMAIRE PROGRESSIVE DU FRANÇAIS – A1-A2.
                        <p>	VOCABULAIRE PROGRESSIF DU FRANÇAIS – A1-A2.
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <img class="img-responsive" src="/images/home/idiomas/i33.jpg" alt="" />
                      </div>
                    </div>
                    <div class="row other-products padding-top padding-bottom text-center">
                      <div class="section-title">
                        <h2>otros <span>programas</span></h2>
                      </div>
                      <div class="col-sm-3">
                        <div class="project-content">
                          <div class="project small-content">
                            <img class="img-responsive" src="/images/home/idiomas/i1.jpg" alt="" />
                            <div class="overlay">
                              <a href="aleman.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                              <h3>ALEMÁN</h3>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="project-content">
                          <div class="project small-content">
                            <img class="img-responsive" src="/images/home/idiomas/i2.jpg" alt="" />
                            <div class="overlay">
                              <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                              <h3>ÁRABE</h3>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="project-content">
                          <div class="project small-content">
                            <img class="img-responsive" src="/images/home/idiomas/i4.jpg" alt="" />
                            <div class="overlay">
                              <a href="ingles.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                              <h3>INGLÉS</h3>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="project-content">
                          <div class="project small-content">
                            <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                            <div class="overlay">
                              <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                              <h3>MANDARÍN</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--/Project-details-->
              </div>

              <footer id="footer">
                <% include ../../../partials/footer %>
              </footer><!--/#footer-->

              <!--/#scripts-->
            </body>
            </html>
