<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="portfolio-page">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Programa <span>Italiano</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div id="projects-details" class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>PROGRAMA DE ITALIANO</h2>
            <p>LIBRO DEL PROFESOR, LIBRO DEL ESTUDIANTE, CD DE AUDIO, de la Editorial EDITRICE LA SCUOLA, de la Comunità di S. Egidio, 1ra Edición, Roma, 2010.
              <p>Duración
                <p> 4 niveles en curso personalizado o en grupo
                  <p>Horarios
                    <p> Viernes de 9:00am a 12.30am
                      <p>	L’ITALIANO  PER AMICO – A1-A2.
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <img class="img-responsive" src="/images/home/idiomas/i55.jpg" alt="" />
                    </div>
                  </div>
                  <div class="row other-products padding-top padding-bottom text-center">
                    <div class="section-title">
                      <h2>otros <span>programas</span></h2>
                    </div>
                    <div class="col-sm-3">
                      <div class="project-content">
                        <div class="project small-content">
                          <img class="img-responsive" src="/images/home/idiomas/i1.jpg" alt="" />
                          <div class="overlay">
                            <a href="aleman.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                            <h3>ALEMÁN</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="project-content">
                        <div class="project small-content">
                          <img class="img-responsive" src="/images/home/idiomas/i2.jpg" alt="" />
                          <div class="overlay">
                            <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                            <h3>ÁRABE</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="project-content">
                        <div class="project small-content">
                          <img class="img-responsive" src="/images/home/idiomas/i3.jpg" alt="" />
                          <div class="overlay">
                            <a href="frances.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                            <h3>FRANCÉS</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="project-content">
                        <div class="project small-content">
                          <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                          <div class="overlay">
                            <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                            <h3>MANDARÍN</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--/Project-details-->
            </div>

            <footer id="footer">
              <% include ../../../partials/footer %>
            </footer><!--/#footer-->

            <!--/#scripts-->
          </body>
          </html>
