<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="portfolio-page">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Programa <span>Japonés</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div id="projects-details" class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>PROGRAMA DE JAPONES</h2>
            <p>LIBRO DEL PROFESOR, LIBRO DEL ESTUDIANTE, CD DE AUDIO, de la Editorial NIPPAN SHUPPAN HANBAI, compilado por Iwao Ogawa, Presidente de la CORPORACION 3A, 1RA Edición, Tokyo, Japon, 2010.
              <p>Duración
                <p>11 meses por nivel (japonés es nuestro idioma más exigente de aprender, por eso toma más tiempo por nivel).
                  <p>Horarios
                    <p>Por definir.
                      <p>	MINNA NO NIHONGO – JAPONES PARA TODOS 1
                        <p>	MINNA NO NIHONGO – JAPONES PARA TODOS 2
                          <p>	MINNA NO NIHONGO – JAPONES PARA TODOS 3
                          </p>
                        </div>
                        <div class="col-sm-6">
                          <img class="img-responsive" src="/images/home/idiomas/i66.jpg" alt="" />
                        </div>
                      </div>
                      <div class="row other-products padding-top padding-bottom text-center">
                        <div class="section-title">
                          <h2>otros <span>programas</span></h2>
                        </div>
                        <div class="col-sm-3">
                          <div class="project-content">
                            <div class="project small-content">
                              <img class="img-responsive" src="/images/home/idiomas/i1.jpg" alt="" />
                              <div class="overlay">
                                <a href="aleman.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                <h3>ALEMÁN</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="project-content">
                            <div class="project small-content">
                              <img class="img-responsive" src="/images/home/idiomas/i2.jpg" alt="" />
                              <div class="overlay">
                                <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                <h3>ÁRABE</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="project-content">
                            <div class="project small-content">
                              <img class="img-responsive" src="/images/home/idiomas/i3.jpg" alt="" />
                              <div class="overlay">
                                <a href="frances.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                <h3>FRANCÉS</h3>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="project-content">
                            <div class="project small-content">
                              <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                              <div class="overlay">
                                <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                <h3>MANDARÍN</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!--/Project-details-->
                </div>

                <footer id="footer">
                  <% include ../../../partials/footer %>
                </footer><!--/#footer-->

                <!--/#scripts-->
              </body>
              </html>
