<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div id="portfolio-page">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Programa <span>Portugues</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div id="projects-details" class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>PROGRAMA DE PORTUGUES</h2>
            <p>LIBRO DEL PROFESOR, LIBRO DEL ESTUDIANTE, LIBRO DE EJERCICIOS, CD DE AUDIO, de la Editorial EDITORA PEDAGOGICA E UNIVERSITARIA LTDA, de Emma Eberlein Lima y Lutz Rohrmann, de la UNIVERSIDAD DE SAO PAULO, SAO PAULO, BRASIL, 2010.
              <p>Duración
                <p>2 meses (8 semanas) en curso personalizado
                  <p>         3 meses en curso a grupos
                    <p>Horarios: a convenir con el estudiante o cliente corporativo
                      <p>	NOVO AVENIDA BRASIL 1 –A1
                        <p>	NOVO AVENIDA BRASIL 2 – A2
                          <p>	NOVO AVENIDA BRASIL 3 – B1

                          </div>
                          <div class="col-sm-6">
                            <img class="img-responsive" src="/images/home/idiomas/i88.jpg" alt="" />
                          </div>
                        </div>
                        <div class="row other-products padding-top padding-bottom text-center">
                          <div class="section-title">
                            <h2>otros <span>programas</span></h2>
                          </div>
                          <div class="col-sm-3">
                            <div class="project-content">
                              <div class="project small-content">
                                <img class="img-responsive" src="/images/home/idiomas/i1.jpg" alt="" />
                                <div class="overlay">
                                  <a href="aleman.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                  <h3>ALEMÁN</h3>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="project-content">
                              <div class="project small-content">
                                <img class="img-responsive" src="/images/home/idiomas/i2.jpg" alt="" />
                                <div class="overlay">
                                  <a href="arabe.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                  <h3>ÁRABE</h3>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="project-content">
                              <div class="project small-content">
                                <img class="img-responsive" src="/images/home/idiomas/i3.jpg" alt="" />
                                <div class="overlay">
                                  <a href="frances.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                  <h3>FRANCÉS</h3>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="project-content">
                              <div class="project small-content">
                                <img class="img-responsive" src="/images/home/idiomas/i7.jpg" alt="" />
                                <div class="overlay">
                                  <a href="mandarin.html"><i class="fa fa-arrow-circle-o-right"></i></a>
                                  <h3>MANDARÍN</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--/Project-details-->
                  </div>

                  <footer id="footer">
                    <% include ../../../partials/footer %>
                  </footer><!--/#footer-->

                  <!--/#scripts-->
                </body>
                </html>
