<div class="jumbotron text-center">
    <div class="container">

    <h1>Contact치nos</h1>
    <p> Conoce m치s de nuestro Instituto de idiomas, aprende y divertete con nosostros </p>
    <p><a class="btn btn-primary btn-lg" href="/nosotros/contacto" role="button">M치s Informaci칩n</a></p>
  </div>
</div>
