<div class="footer-bottom">
      <div class="container">
        <div class="row ">
          <a href='https://www.facebook.com/censol.guayana' target="_blank"><i class="fa fa-facebook fa-3x fa-fw"></i></a>
          <a href='https://www.instagram.com/censolguayana/' target="_blank"><i class="fa fa-twitter fa-3x fa-fw"></i></a>
          <a href="https://twitter.com/censolguayana" target="_blank"><i class="fa fa-instagram fa-3x fa-fw"></i></a>
        </span>
        </div>

        <div class="row">
          <h4>© 2016 Censol Guayana. Todos los derechos reservados.</h4>

        </div>
      </div>
    </div>
