<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <p class="copyright">&copy; 2016 <a href="#">CENSOL</a> Derechos reservados.</p>
      </div>
      <div class="col-md-6 col-sm-7">
        <div class="footer-menu">
          <ul class="nav navbar-nav">
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="horarios.html">Horarios</a></li>
            <li><a href="programas.html">Programas</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="faqs.html">FAQ'S</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-0 col-sm-7 col-sm-offset-5">
        <div class="bottom-socials">
          <ul>
            <li><a href="https://www.facebook.com/censol.guayana"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.twitter.com/censolguayana"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/censolguayana"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
