<div class="navbar navbar-fixed-top" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="navbar-brand">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-responsive" src="/images/home/logo blanco.png" alt="logo">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class=" <% if (page_name === 'inicio') { %>active <% } %> menu">
              <a href="/">Inicio</a>
            </li>
            <li class="<% if (page_name === 'nosotros') { %>active <% } %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Nosotros<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <div class="drop-item">
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="drop-content">
                        <h3> Nosotros</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <ul class="drop-link">
                        <li><a href="/nosotros/quienes-somos">¿Quienes somos?</a></li>
                        <li><a href="/nosotros/galeria">Galeria</a></li>
                        <li><a href="/nosotros/contacto">Contacto</a></li>
                        <li><a href="/nosotros/faqs">Faq's</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ul>
            </li>
            <li class="<% if (page_name === 'instituto') { %>active <% } %> dropdown">
              <a href="ingles.html" class="dropdown-toggle" data-toggle="dropdown">
                Academia<span class="caret">
              </a>
              <ul class="dropdown-menu">
                <div class="drop-item">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="drop-section">
                        <ul>
                          <li><a class="title" href="/instituto/ingles">Ingles</a></li>
                          <li><a href="/instituto/ingles/ingles-ninos">Escuela de ingles para niños</a></li>
                          <li><a href="/instituto/ingles/jovenes-y-adultos">Jovenes Y Adultos</a></li>
                          <li><a href="/instituto/ingles/personalizado">Personalizado</a></li>
                          <li><a href="/instituto/ingles/tecnicos">Tecnicos Especializados</a></li>
                          <li><a href="/instituto/ingles/corporativo">Ingles Corporativo</a></li>
                          <li><a href="/instituto/ingles/en-linea">Ingles En Linea</a></li>
                        </ul>
                        <ul>
                          <li><a class="title" href="/instituto/espanol">Español</a> </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="drop-section">
                        <ul>
                          <li><h3>Otros</h3> </li>
                          <li><a href="/instituto/otros-idiomas/portugues">PORTUGUÉS</a></li>
                          <li><a href="/instituto/otros-idiomas/frances">FRANCÉS</a></li>
                          <li><a href="/instituto/otros-idiomas/italiano">ITALIANO</a></li>
                          <li><a href="/instituto/otros-idiomas/aleman">ALEMÁN</a></li>
                          <li><a href="/instituto/otros-idiomas/mandarin">MANDARÍN</a></li>
                          <li><a href="/instituto/otros-idiomas/japones">JAPONÉS</a></li>
                          <li><a href="/instituto/otros-idiomas/arabe">ÁRABE</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="drop-section">
                        <ul>
                          <li><h3>Intercambio</h3> </li>
                          <li><a href="/instituto/intercambio/venezuela">EN VENEZUELA</a></li>
                          <li><a href="/instituto/intercambio/otros-paises">OTROS PAISES</a></li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- <li class="dropdown-submenu"><a href="/instituto/ingles">Ingles</a>
                  <ul class="dropdown-menu">
                    <li><a href="/instituto/ingles/ingles-ninos">Escuela de ingles para niños</a></li>
                    <li><a href="/instituto/ingles/jovenes-y-adultos">Jovenes Y Adultos</a></li>
                    <li><a href="/instituto/ingles/personalizado">Personalizado Conversacional</a></li>
                    <li><a href="/instituto/ingles/tecnicos">Tecnicos Especializados</a></li>
                    <li><a href="/instituto/ingles/corporativo">Ingles Corporativo</a></li>
                    <li><a href="/instituto/ingles/en-linea">Ingles En Linea</a></li>
                  </ul>
                </li>
                <li class="menu"><a href="/instituto/espanol">Español</a></li>
                <li class="dropdown-submenu"><a href="#">Otros Idiomas</a>
                  <ul class="dropdown-menu">
                    <li><a href="/instituto/otros-idiomas/portugues">PORTUGUÉS</a></li>
                    <li><a href="/instituto/otros-idiomas/frances">FRANCÉS</a></li>
                    <li><a href="/instituto/otros-idiomas/italiano">ITALIANO</a></li>
                    <li><a href="/instituto/otros-idiomas/aleman">ALEMÁN</a></li>
                    <li><a href="/instituto/otros-idiomas/mandarin">MANDARÍN</a></li>
                    <li><a href="/instituto/otros-idiomas/japones">JAPONÉS</a></li>
                    <li><a href="/instituto/otros-idiomas/arabe">ÁRABE</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu"><a href="#">Intercambio</a>
                  <ul class="dropdown-menu">
                    <li><a href="/instituto/intercambio/venezuela">EN VENEZUELA</a></li>
                    <li><a href="/instituto/intercambio/otros-paises">OTROS PAISES</a></li>
                  </ul>
                </li> -->
              </ul>
            </li>

            <li class="<% if (page_name === 'traduccion') { %>active <% } %> dropdown">
              <a href="/traduccion">
                Traducción
              </a>
            </li>
            <li class="<% if (page_name === 'legal') { %>active <% } %> dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Legalización <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <div class="drop-item">
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="drop-content">
                        <h3> Legalización</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <ul class="drop-link">
                        <li><a href="/legal/apostilla">APOSTILLA</a></li>
                        <li><a href="/legal/gestoria">LEGALIZACION DE DOCUMENTOS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ul>
            </li>
            <li class="<% if (page_name === 'edicion') { %>active <% } %> dropdown">
              <a href="/edicion/redaccion">
                Edición
              </a>
            </li>

            <li class="dropdown">
              <a href="#" class="<% if (page_name === 'comercial') { %>active <% } %>dropdown-toggle" data-toggle="dropdown">
                Comercialización <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <div class="row">
                  <div class="drop-item">
                    <div class="col-xs-8">
                      <div class="drop-content">
                        <h3> Comercialización</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <ul class="drop-link">
                        <li><a href="/comercial/franquicia">FRANQUICIA</a></li>
                        <li><a href="/comercial/intercambio">INTERCAMBIO COMERCIAL</a></li>
                        <li><a href="/comercial/eventos">EVENTOS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </ul>
            </li>
          </ul>
        </nav>
        <div class="topbar-icons">
          <span><i class="fa fa-search"></i></span>
        </div>
        <div class="search">
          <form role="form">
            <input type="text" class="search-form" autocomplete="off" placeholder="Buscar...">
            <span class="search-close"><i class="fa fa-times"></i></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
