<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../partials/header %>
  </header>

  <div id="contact-page-two">
    <div class="text-center page-breadcrumb">
      <div class="container">
        <h1>Contácte<span>nos</span></h1>
        <p class="breadcrumb-text"></p>
      </div>
    </div><!--/.page-breadcrumb-->

    <div class="padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d586.9110825170306!2d-62.75594090547276!3d8.27775848043348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sve!4v1473532201121" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6">
            <ul class="contact-info row">
              <li class="col-sm-6">
                <h2>Puerto Ordaz</h2>
                <address>
                  C.C. Biblos Center, piso 1, local 120,<br>Unare II, Puerto Ordaz
                  <p class="contact-mail"><strong>Email:</strong> <a href="#">censolguayana@gmail.com</a><p>censolguayana@gmail.com
                    <p>censoltraducciones@gmail.com<p>censolgerencia2016@gmail.com
                    </p>
                    <p><strong>Teléfonos:</strong> +58 286 952 6636 OFICINA<p>+58 414 9050715<p>+58 424 9070166<p>+58 424 9018339</p>
                  </address>


                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center page-title">
          <h2>Escríbenos</h2>
          <p></p>
        </div>
        <div class="contact-wrap">
          <div class="status alert alert-success" style="display: none"></div>
          <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="#">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" required="required" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" required="required" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" required="required" placeholder="Asunto">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <textarea name="message" id="message" required="required" class="form-control" rows="7" placeholder="Mensaje"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" href="joseospinoalejos@gmail.com" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div><!--/.row-->
      </div><!--/.container-->
    </div>  <!--/contact-page-two -->


    <footer id="footer">
      <% include ../../partials/footer %>
    </footer><!--/#footer-->

    <!--/#scripts-->
  </body>
  </html>
