<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head><!--/head-->
<body ng-app="navBar">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <header id="navigation">
    <% include ../../partials/header %>
  </header>
  <div id="about-us-page">
    <div class="text-center page-breadcrumb">

    </div><!--/.page-breadcrumb-->
  </div>

  <section id="team">
    <div class="welcome text-center">
        <h1> Nuestro Equipo</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <div class="team-left">
              <h3> Lic. Teo :)</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="team-right">
              <img src="/images/home/about/about.jpg" alt="" width="200px">
            </div>
          </div>
        </div>
    </div>
  </section>
  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-5 wrapper">
          <div class="about-left">
            <div class="content-left">
              <h1> Quienes <span>Somos</span></h1>
              <p> Somos una empresa consolidada en la formación y capacitación del idioma Inglés. 3 años de experiencia liderando los procesos de enseñanza, aprendizaje y evaluación del idioma, avalan nuestro compromiso académico en el logro de objetivos de manera eficiente y eficaz; gracias a una metodología 100% garantizada que respalda nuestro plan educativo, lo que nos permite brindarle un servicio de primer nivel.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7 wrapper">
          <div class="about-right">
            <div class="content-right">
              <div class="col-md-6">
                <ul class="feature-left">
                  <li>
                    <h3>MISIÓN</h3>
                    <p>Es la misión del Centro de Soluciones Lingüísticas de Guayana impartir programas de estudios de idiomas en un ambiente divertido, dinámico y metódico; caracterizada a su vez por su fuerte compromiso en la formación espiritual, personal y profesional del individuo.

                      A su vez, CENSOL ofrece servicios de traducción e interpretación de idiomas en sus distintas ramas y aplicaciones, convirtiéndose de este modo en un centro de asesoría y soluciones a las diferentes necesidades lingüísticas del cliente</p>
                    </li>
                    <li>
                      <h3>VISIÓN</h3>
                      <p>Es la visión del Centro de Soluciones Lingüísticas de Guayana ser la primera y mejor opción de la ciudad entre los centros de idiomas que conviven en ella, brindando la mejor calidad en una amplia gama de servicios de índole lingüísticos, a saber: enseñanza, traducción, interpretación y asesoría en los diferentes idiomas modernos de los que necesite el cliente; teniendo siempre en cuenta que la educación de calidad es primordial para un desarrollo personal y profesional sostenible, y que cualquier otro servicio adicional es ganancia para la empresa en vista de su vocación humana y de la responsabilidad social que esta conlleva.</p>
                    </li>

                  </ul>
              </div>
              <div class="col-md-6">
                <ul class="feature-right">
                  <li>
                    <h3>OBJETIVOS</h3>
                    <p><span> Proveer a nuestros clientes</span> del mejor servicio mediante la contratación de profesionales certificados en el área de la enseñanza, traducción, interpretación y asesoría de los idiomas modernos; lo cual permitirá competir en el mercado con la mejor calidad y asegurando los mejores precios.</p>
                  </li>
                  <li>
                    <p><span> Proveer a nuestros alumnos</span> de la más moderna metodología, pedagogía y didáctica en la enseñanza de los idiomas, para así garantizar su bilingüismo al completar su tiempo de estudios en la institución.</p>
                  </li>
                  <li>
                    <p>	<span>Proveer a nuestros alumnos</span> de las más modernas y cómodas instalaciones para asegurar el disfrute y bienestar en su proceso de aprendizaje.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="screenshots" class="padding-top padding-bottom">
    <div class="container text-center">
      <div class="app-section-title">
        <h2>NUESTRAS INSTALACIONES</h2>
        <p></p>
      </div>
    </div>
    <div id="screenshots-carousel" class="container-fluid carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#screenshots-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#screenshots-carousel" data-slide-to="1"></li>
        <li data-target="#screenshots-carousel" data-slide-to="2"></li>
        <li data-target="#screenshots-carousel" data-slide-to="3"></li>
      </ol>
      <div class="text-center carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
            <div class="col-sm-3">
              <img class="#" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#screenshots-->

  <div id="feature-in" class="text-center parallax-section">
    <div class="overlay-bg"></div>
    <div class="container padding-top padding-bottom">
      <div class="text-center ">
        <div class="app-section-title">
          <h2>CERTIFICACIONES</h2>
        </div>
      </div>
      <div class="feature-logos">
        <ul>
          <li><img class="img-responsive" src="/images/landing/feature1.png" alt="" /></li>
          <li><img class="img-responsive" src="/images/landing/feature2.png" alt="" /></li>
          <li><img class="img-responsive" src="/images/landing/feature3.png" alt="" /></li>
          <li><img class="img-responsive" src="/images/landing/feature4.png" alt="" /></li>
          <li><img class="img-responsive" src="/images/landing/feature5.png" alt="" /></li>
        </ul>
      </div>
    </div>
  </div><!--/#feature-in-->

    <footer id="footer">
      <% include ../../partials/footer %>
    </footer><!--/#footer-->

  </body>
  </html>
