
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #454545;
	background-color: #fff;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
	outline:none;
	outline-offset: 0;
	text-decoration:none;
	background: transparent;
}

a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	color:#d06101;
}

h1 {
	font-size:36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
}

.padding-top {
	padding-top:108px;
}

.padding-bottom{
	padding-bottom:102px;
}

.section-title {
	padding-bottom:50px;
}

.section-title h2 {
	font-size:18px;
	letter-spacing:5px;
	text-transform:uppercase;
	position:relative;
}

.section-title h2 span {
	font-weight:600;
	color:#0f0f0f;
}

.section-title h2:after {
	position:absolute;
	content:"";
	width:68px;
	height:1px;
	background-color:#d06101;
	left:50%;
	bottom:-14px;
	margin-left:-34px;
}

.section-title h2:before {
	position: absolute;
	content: "";
	left: 50%;
	top: 45px;
	margin-left: -15px;
	width: 35px;
	height: 25px;
	background-repeat: no-repeat;
}

.parallax-section {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height: 265px;
	color: #000;
	position:relative;
}

.navbar-toggle {
	border:1px solid #fff;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn.btn-primary {
	background-color:transparent;
	border-color:#fff;
	text-transform:uppercase;
	border-radius:0;
	font-size:15px;
	font-weight:700;
	font-family: 'PT Sans', sans-serif;
	padding:10px 27px;
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index:1;
  border: 2px solid #ff8517;
}

.btn.btn-primary:hover{
	background-color: transparent !important;
	color: #ff8517 !important;
	border-radius: 2px;
}

/*========================
========Home CSS==========
==========================*/

#navigation {
	position:relative;
}

#navigation .topbar-icons {
	position: absolute;
	right: 25px;
	top: 30px;
}

#navigation .topbar-icons span {
	margin:0 9px;
}

#navigation .topbar-icons span i {
	color:#fff;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#navigation .navbar-right li a {
	color:#fff;
	font-size:12px;
	font-weight:500;
	height: 100%;
	text-transform:uppercase;
	background-color:transparent;
}

#navigation .navbar-right li a.active,
#navigation .navbar-right li a:hover,
#navigation .navbar-right li.active> a,
.bottom-socials ul li a:hover,
#navigation .navbar-right li i:hover,
#navigation .topbar-icons span i:hover {
	color: rgba(255, 133, 23, 0.94);
}

/*Dropdown CSS*/

.navbar-right .dropdown-menu {
	background-color:#d06101;
	min-width:285px;
}

.navbar-fixed-top .navbar-right .dropdown-menu {
	background-color: rgba(243, 243, 243, 0.95);
}

#navigation .navbar-right .dropdown-menu li a {
	font-size:11px;
	color: #333;
}

#navigation .navbar-right .dropdown-menu li a:hover,
#navigation .navbar-right .dropdown-menu li a:active {
  background-color: rgba(255, 133, 23, 0.94);
  color: rgba(255, 133, 23, 0.94) !important;
}

.navbar-brand {
	position:relative;
	z-index:99999;
	padding: 6px 15px;
	height:45px;
	background-color:transparent;
}

#blog {
	overflow: hidden;
	padding-top:45px;
}

.entry-content {
	font-size: 16px;
	font-weight: 300;
	margin-top: 20px;
}

.entry-content img {
	margin-bottom:25px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.entry-content img:hover {
	filter:grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity:0.8;
}

.entry-title {
	font-size:30px;
	font-weight:300;
	text-transform:inherit;
	margin-bottom:25px
}

.entry-title a {
	color:#000;

}

.entry-meta span a {
	color:#000;
	text-transform:capitalize;
	font-weight:500;
}

.entry-meta {
	margin-top:22px;
}

.read-more {
	color: #000;
	display: inline-block;
	font-size: 22px;
	margin-top: 7px;
}

.read-more:hover,
.entry-title a:hover,
.entry-meta span a:hover{
	color: #d06101;
}


/*========================
========Twitter CSS=======
==========================*/
#twitter {
	background-image: url("../images/home/bg/twitter-bg.jpg");
	font-size:20px;
	font-weight:300;
	color:#fff;
}

/*=========================
========Clients CSS========
===========================*/

.client-content ul li{
	display:inline-block;
	width:24%;
}

.client-content ul li:last-child {
	margin-right:0;
}


/*=========================
========Footer CSS=========
===========================*/
.footer-top {
	background-image: url("../images/home/bg/footer-top-bg.jpg");
	color:#fff;
	position:relative;
}

.footer-top  h2 {
	font-size:36px;
	font-weight:700;
	text-transform:uppercase;
	position:relative;
	margin-top:70px;
	margin-bottom:30px;
}

.footer-top .btn.btn-primary {
	position:relative;
	margin-bottom:45px;
	padding:10px 34px;
}

.footer-top .overlay-bg {
	position:absolute;
	left:0;
	width:100%;
	height:100%;
	background-color: #FFD447;
}

.footer-bottom {
	background-color: #808075;
	color:#fff;
}

.copyright {
	font-size:14px;
	margin-top:30px;
}

.footer-menu li a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	padding: 20px 10px;
	line-height: 40px;
}

.bottom-socials {
	margin-top: 28px;
}

.bottom-socials ul li {
	display:inline-block;
}

.bottom-socials ul li a {
	padding:10px;
	font-size:16px;
}

/*=======================================END: HOME Page CSS==================================================*/


/*=========================
========Testimonial========
===========================*/

.page-breadcrumb {
	background-image: url("/images/idiomas/section-bg.jpg");
	min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
  border-bottom: #FFCE30 4px solid;
}

/*=======================================END: Shop Details  CSS==================================================*/

/*========================
=====Contact Us Page======
=========================*/

#contact-page-two .page-breadcrumb {
	    background-image: url(../images/quienes-somos/section-bg.jpg);
}

#gmap {
	height:400px;
}

.contact-info {
	margin-top:30px;
	padding-bottom :65px;
}

.contact-info h2 {
	font-size:24px;
	text-transform:capitalize;
	margin-bottom:25px;
}

.contact-mail {
	margin-top:25px;
	margin-bottom:5px;
}

.contact-mail a {
	color:#d06101;
}

#contact-page-two .contact-info h2{
	margin-bottom:10px;
}

#contact-page-two .contact-info .contact-mail {
	margin-bottom:5px;
	margin-top:10px;
}

#contact-page-two .contact-info li address {
	margin-bottom:35px;
}

#contact-page-two .contact-info {
	margin-top:0;
	padding-bottom:0;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	outline:none;
	min-height:41px;
	border-color:#ddd;
}

.form-control:focus{
	border-color:#d06101;
	box-shadow:none;
}

.contact-wrap .btn.btn-primary {
	margin-bottom:85px;
}

.contact-wrap .btn.btn-primary,
#comment-form  .btn.btn-primary{
	display:block;
	width:100%;
	color:#000;
	margin-top:15px;
  border-color: #ff8517;
	outline:none;
}

.contact-wrap .btn.btn-primary:before,
#comment-form  .btn.btn-primary:before,
.contact-wrap .btn.btn-primary:after,
#comment-form  .btn.btn-primary:after  {
	background-color:#d06101
}

textarea.form-control {
	resize:none;
}

#contact-page .page-title {
	padding:0 0 50px;
}

/*=======================================END: Contact Us Page  CSS==================================================*/

#screenshots {
	background-color:#fafafa;
	overflow:hidden;
}

#screenshots-carousel .item img {
	display:inline-block;
}

#screenshots-carousel .carousel-indicators {
	bottom: -50px;
}

#screenshots-carousel .carousel-indicators li {
	background-color:#d0cfd0;
}

#screenshots-carousel .carousel-indicators .active {
	background-color:transparent;
	border-color:#fdc916;
}

#screenshots-carousel {
	padding-bottom:50px;
}

#feature-in {
	    background-color: #FFC403;
}

#feature-in .overlay-bg {
	background-color:rgba(253, 201, 22, 0.9);
}

#feature-in .container {
	position:relative;
	z-index:1;
}

.feature-logos ul li  {
	display:inline-block;
	width:19%;
}

.feature-logos ul li img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.feature-logos ul li img:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	opacity:1;
}

#feature-in .app-section-title h2:before,
#feature-in .app-section-title h2:after {
	background-color:#b99d35;
}

/*=========================
======== Blog CSS =========
===========================*/


#blog-breadcrumb.page-breadcrumb {
	background-image:url(../images/home/bg/brd_bg_blog.jpg);
}


/*===================================
====== Portfolio Details CSS ========
=====================================*/

#projects-details h2 {
	margin-top:0;
	margin-bottom:25px;
}

#projects-details ul {
	margin-top:25px;
	margin-bottom:25px;
}

#projects-details ul li {
	margin-bottom:10px;
}

#projects-details ul li i {
	margin-right:15px;
}

/* custom css */
#navigation .top-nav-collapse .navbar-right li a.active,
#navigation .top-nav-collapse .navbar-right li a:hover,
#navigation .top-nav-collapse .navbar-right li.active> a,
 .bottom-socials ul li a:hover,
 #navigation .top-nav-collapse .navbar-right li i:hover,
 #navigation .top-nav-collapse .topbar-icons span i:hover{
	 color: #555;
 }

.footer-top  h2{
	color:#555;
}

.footer-top  h2 {
    border-color: #555;
}

.btn-primary{
	    color: #555;
}

#navigation .navbar-fixed-top .navbar-right{
  float: none !important;
	text-align: center;
	margin-top: 5%;
}

#navigation .navbar-nav{
	display: inline-block !important;
	float: none !important;
	vertical-align: top;
}

.top-nav-collapse{
	background-color: rgba(255, 133, 23, 0.94);
}


.top-nav-collapse .navbar-brand{
	display: none;
}

.top-nav-collapse .navbar-right{
  margin-top: 0 !important;
}

.navbar-fixed-top .topbar-icons{
	display: none;
}


#navigation li.dropdown.open{
	position: static;
}

#navigation li.dropdown.open .dropdown-menu {
  display: table;
  width: 80%;
  height: 200px;
  left: 0;
  right: 0;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}

#navigation .drop-item .drop-content {
  margin: 35px;
	margin-right: 0;
}

#navigation .drop-item .drop-content > p{
	margin: 0 0 10px;
}
#navigation .drop-item .drop-link{
	margin: 35px 35px 35px 0px;
}

#navigation .drop-item .drop-link>li{
	padding-bottom:5px !important;
}

#navigation .drop-item a:hover{
	background: none !important;
  color: #555 !important;
}

#navigation .top-nav-collapse li.dropdown.open > a {
    color: #555;
}

#navigation .drop-section {
    margin: 30px 0 30px 0;
		padding: 0 30px 0 30px;
    height: 190px;
}

#navigation .drop-section .title{
		text-transform: none;
		font-size: 18px !important;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;
		padding-left: 0px !important;
}

#navigation li.dropdown.open > a{
	    color: rgba(255, 133, 23, 0.94);
}

#navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(1) > div,
#navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(2) > div,
#navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(3) > div{
	border-right: solid rgba(51, 51, 51, 0.55) 2px;
}


#home-top{
	background-image: url(../images/home/bg/slider-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 700px;
}

#home-top .title {
	margin-top: 22%;
  color: white;
}

#home-top .title h1{
	font-family: 'Raleway', sans-serif;
	font-size: 46px;
	line-height: 27px;
	letter-spacing: 2px;
	font-weight: 100;
}

#home-top .image-top{
	width: 85%;
	margin-top: 31%;
}

 #about-us{
	 padding-top: 40px;
	 padding-bottom: 90px;

 }


 #about-us .image{
	 max-width: 70%;
    margin-left: auto;
    margin-right: auto;
 }

#about-us > div > div:nth-child(2) {
	margin-top: 35px;
}


#about-us .image:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(../images/home/about/aboutbg.jpg);
    background-size: cover;
    bottom: -73px;
    left: -15px;
    border-radius: 5px;
}

#about-us .content{

	text-align: right;
}
#about-us p{
  margin-top: 30px;
}
#projects {
	padding-top: 45px !important;
  padding-bottom: 140px !important;
  background-color: #f5f5f5;
}

#projects .section-title{
	padding: 0;
}

#projects .project-item{
	height: 400px;
}

#projects .project-item > a img{
	transform: scale(1.2);
	transition: all ease-in-out 0.5s;
	height: 300px;
	margin-top: 50px;
}

#projects .project-item > a:hover img{
	transform: scale(1);
}

#projects .description{
	width: 90%;
	height: 380px;
	min-width: 90%;
	min-height: 380px;
	max-width: 90%;
	max-height: 380px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#projects .content {
    padding-left: 20%;
    margin-top: 25%;
    text-align: left;
}

#projects .description img{
	margin-top: 25%;
	width: 150px;
	transform: scale(1.1);
	transition: all ease-in-out 0.5s;
}

#projects .description img:hover{
	transform: scale(1);
}

#projects .carousel-control.left, #projects .carousel-control.right{
  background: none;
	color: #333;
}

#projects .carousel-indicators {
	top: 40px;
	bottom: 80%;
}
#projects .carousel-indicators li.active {
	background-color: rgba(255, 140, 36, 0.62) !important;
	color: #fff;
}

#projects .carousel-indicators li {
	width: 35px;
	height: 35px;
	background: none;
	border-radius: 50%;
	/*border: 2px solid #ff8c24;*/
	padding-top: 4px;
	text-indent: 0;
	color: #ff8c24;
	margin-right: 20px;
	margin-left: 20px;
	font-weight: bold;
}

#payment{
	padding-top: 45px;
	padding-bottom: 45px;
  background-color: #f5f5f5;
}

#payment .section-title{
	padding-bottom: 10px;
}

#payment img{
	margin-left: auto;
	margin-right: auto;
  width: 50%;
	height: auto;
	padding: 10px 0 5px 0;
}

#payment h3{
	text-align: center;
}

#payment .btn{
	background-color: #ff8517;
	width: 35%;
	color: #fff;
}

#payment .method:after {
    content: "";
    height: 182px;
    position: absolute;
    top: 32%;
    right: 0;
    border-right: 2px solid #333;
}

#payment > div > div:nth-child(2) > div:nth-child(3) > div:after{
	display: none;
}
#service{
	padding-top: 45px;
	padding-bottom: 45px
}

#personalizado .page-breadcrumb {
	background-image: url("/images/ingles/Jovenes.jpg");
	min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center ;
}

#tecnicos .page-breadcrumb {
	background-image: url("../images/ingles/tecnico.jpg");
min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center top;
}

.img-circle{
	    border-radius: 50%
}

.welcome.text-center {
	border-radius: 3px;
    background: rgba(245, 245, 245, 0.24);
    padding-bottom: 20px;
    padding-top: 22px;
}

.jumbotron {
	padding: 30px 15px;
 margin-bottom: 0px;
 background: #FFF9C5;
}

/* seccion ingles para ni;os*/

#ninos .page-breadcrumb {
	background-image: url("/images/ingles/contact-kid.jpg");
min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top;
}
#ninos .welcome.text-center {
	background: rgba(245, 245, 245, 0.48);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.informacion-1 {
	font-size: 1.6rem;
}
#ninos .informacion-1{
	font-size: 1.6rem;
	padding-top: 50px;
	text-align: justify;
		padding-bottom: 30px;
}

/* seccion ingles para Jovenes y adultos*/

#jovenes-adultos .page-breadcrumb {
	background-image: url("/images/ingles/aja.png");
	min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top;
}

#jovenes-adultos .welcome.text-center {
	background: rgba(245, 245, 245, 0.48);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#jovenes-adultos .informacion-1{
	font-size: 1.6rem;
	padding-top: 50px;
	text-align: justify;
	padding-bottom: 30px;
}
#jovenes-adultos > section.informacion-1 > div > div:nth-child(2) > div:nth-child(2) > p{
	font-size: 1.3rem;
}
/* seccion ingles para personalizado*/

#personalizado .welcome.text-center {
    background: rgba(245, 245, 245, 0.48);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#personalizado .informacion-1{
	font-size: 1.6rem;
	padding-top: 60px;
	text-align: justify;
	padding-bottom: 30px;
}
/* seccion ingles para tecnicos*/

#tecnicos .welcome.text-center {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tecnicos .informacion-1 {
	background: rgba(245, 245, 245, 0.39);
    font-size: 1.6rem;
    padding-top: 50px;
    text-align: justify;
}

#tecnicos .informacion-3 {
	font-size: 1.6rem;
  padding-top: 82px;
	  text-align: justify;
}

#tecnicos .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	border-radius: 5px;
}

#tecnicos h2{
	color: #FF8517 !important;
  font-weight: 600 !important;
  text-align: left;
}

/* seccion ingles para corportativo*/
#corporativo .welcome.text-center {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#corporativo .informacion-1 {
	background: rgba(245, 245, 245, 0.39);
    font-size: 1.6rem;
    padding-top: 50px;
    text-align: justify;
}

#corporativo .informacion-3 {
	font-size: 1.6rem;
  padding-top: 82px;
	  text-align: justify;
}
#corporativo  h2{
	color: #FF8517 !important;
  font-weight: 600 !important;
	text-align: left;
}

#corporativo .page-breadcrumb {
	background-image: url("/images/ingles/corporativo.jpg");
min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}
/* seccion ingles para ingles en linea*/
#en-linea .welcome.text-center {
	background: rgba(245, 245, 245, 0.48);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#en-linea .informacion-1{
	font-size: 1.6rem;
	padding-top: 50px;
	text-align: justify;
		padding-bottom: 30px;
}

#en-linea .page-breadcrumb {
	background-image: url("/images/ingles/online-1.jpg");
min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

/* seccion Español*/
#espanol .informacion-1 {
	padding-top: 29px;
	padding-bottom: 33px;
	text-align: justify;
	font-size: 1.6rem;
}

#espanol > section > div > div.row.padding-bottom > div:nth-child(1) > h2{
	text-align:left;
	color: #FF8517 !important;
  font-weight: 600 !important;
}
#espanol .page-breadcrumb {
	background-image: url("/images/spanish/español.jpg");
	min-height: 450px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

#intercambio-Vnzla{
		background-image: url(../images/intercambio/Venezuela.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 588px;

}


#intercambio-Vnzla .text-intercambio {
	position: relative;
	margin-top: 210px;
	padding: 15px 0px;
	margin-bottom: 0px;
	background: rgba(255, 255, 255, 0.4);
	width: 50%;
	border-radius: 20px;
}

#intercambio-Vnzla .text-intercambio > p {
color: white;
margin-bottom: 15px;
font-size: 1.8rem;
font-weight: 400;
	}

#intercambio-Vnzla .btn.btn-primary{

	    background-color: rgba(0,0,0,.0001);
	    border-color: #FFF9C5;
	    text-transform: capitalize;
	    border-radius: 11px;
	    font-size: 16px;
	    font-weight: 700;

}
#intercambio-Vnzla .text-intercambio > h1{
color: #FFF9C5;
    font-weight: 800;
	}


#intercambio-country {
	background-image: url(../images/intercambio/otros-paises-1.jpg);
	background-position: center  ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
}

#intercambio-country .text-intercambio {
    position: relative;
    margin-top: 246px;
    padding: 15px 0px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    width: 50%;
    border-radius: 20px;
	}

	#intercambio-country .text-intercambio > p {
	    color: #333;
	    margin-bottom: 15px;
	    font-size: 1.5rem;
	    font-weight: 500;
	}

		#intercambio-country .btn.btn-primary{

			background-color: rgba(0,0,0,.0001);
			border-color: #FFF9C5;
			text-transform: capitalize;
			border-radius: 11px;
			font-size: 16px;
			font-weight: 700;

		}

	#intercambio-country  .text-intercambio > h1{
    text-shadow: 3px 4px 6px rgba(51, 51, 51, 0.67);
    color: #FF8517;
    font-weight: 800;
}

#service{
	padding-top: 45px;
padding-bottom: 155px;
}

#service img{
	    width: 100%;
			height: 100%;
}

#service .col-md-4 {
    padding: 0;
}

#service .image:after {
    content: "";
    position: absolute;
    background-size: cover;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
}

#service .item-1:after{
	background-image: url(../images/home/servicios/services1.png);
}

#service .item-2:after{
	background-image: url(../images/home/servicios/services2.png);
}

#service .item-3:after{
	background-image: url(../images/home/servicios/services3.png);
}

#service .item-4:after{
	background-image: url(../images/home/servicios/services4.png);
}

#service .item-5:after{
	background-image: url(../images/home/servicios/services5.png);
}

#service .content {
    padding: 30px;
    text-align: center;
}

#service h3 {
    margin-bottom: 40px;
}

#service .image:hover img {
    transform: scale(1.1);
}
#service .image img{
	transition: all 0.3s ease-in-out;
}
#service .image{
    overflow: hidden;
}

#payment figure {
	overflow: hidden;
}

#payment figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
    width: 100%;
}

#payment .method {
    margin-top: 25px;
}

#payment figure:hover img,
#payment figure.cs-hover img {
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
}

#payment figcaption {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 50px;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

#payment figure:hover figcaption,
#payment figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

#about .about-left{
	height: 550px;
	background-color: #736f6f;
}

#about .about-right{
	height: 550px;
	background-size: cover;
	background-image: url(../images/quienes-somos/quienes-somos.jpg);
	padding-top: 5%;
	padding-bottom: 5%;
}

#about .content-right{
	background-color: rgba(255, 255, 255, 0.91);
	width: 90%;
	height: 100%;
	margin-left: -10%;
}

#about .wrapper{
	padding: 0;
}

#about .content-left {
    margin-top: 15%;
    display: inline-block;
    padding: 0 150px 0 60px;
    color: #fff;
}

#about span {
    color: #f5821a;
}

#about .content-left p:after {
    content: "";
    width: 170px;
    border-bottom: 2px solid #f5821a;
    position: absolute;
    left: 50px;
    margin-top: 40px;
}

#about .content-right{
	overflow: scroll;
}

#about .content-right p{
	text-align: justify;
}

#about .content-right h3{
	color: #f5821a;
}

#about ul.feature-left,#about ul.feature-right {
    padding: 15px;
}

#team .welcome.text-center {
    background: rgba(245, 245, 245, 0.48);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#team {
	padding-bottom: 60px;
}

#team .image{
	margin-top: 50px;
}
#team .description p{
	padding-top: 10px;
}
#team .description p:before {
    content: "";
    border-bottom: 2px solid #f5821a;
    width: 10%;
    height: 2px;
    position: absolute;
    left: 45%;
    margin-top: -10px;
}

#gallery{
	margin-bottom: 100px;
}
#gallery img{
	width: 100%;
}

/* Style the Image Used to Trigger the Modal */
#gallery .image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
		margin-top: 20px;
		margin-bottom: 20px
}

#gallery .image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
		padding-top: 100px;
		padding-bottom: 100px;
		overflow: hidden;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
		height: 100%;
    width: auto !important;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#contact-page-two .overlay-g{
	background: transparent;
	position: relative;
	width: 100%;
	height: 450px;
	top: 450px;
	margin-top: -450px;
}

#all-gmap.container-fluid, #all-gmap .col-sm-12{
	padding: 0 !important;
	margin: 0 !important;
}

#contact-page-two .item{
	width: 60px;
	height: 60px;
  background: #fa8824;
}
#contact-page-two .item-image{
	width: 100%;
	height: 100%;
	transform: scale(0.7);
	margin-top: 40px;
}

#contact-page-two .item-1 .item-image{
	background: url(/images/contact/placeholder-white.png);
	background-size: cover;
}

#contact-page-two .item-2 .item-image{
	background: url(/images/contact/mail-white.png);
	background-size: cover;
}

#contact-page-two .item-3 .item-image{
	background: url(/images/contact/phone-white.png);
	background-size: cover;
}

#contact-page-two .item-content{
	margin-top: 10px;
	text-align: center;
}

#contact-page-two .contact-wrap {
    padding-top: 30px;
}

#pre-inscripcion .promo{
    padding-top: 40px !important;
    padding-bottom: 40px;
    background-color: #ffce30;
}

#image-wrapper {
    height: 400px;
    overflow: hidden;
}

#image-wrapper .image-1 img,#image-wrapper .image-2 img{
  height: 400px;
	width: 100%;
}
#image-wrapper .image-1,#image-wrapper .image-2{
	transition: all 0.7s ease-in-out;
}

#image-wrapper:hover .image-1,#image-wrapper:hover .image-2{
	transform: translateY(-400px);
}

#japones .image-2 img{
	border: 2px solid #333;
	height: 398px;
}

#about-wrapper .about-right{
	height: 550px;
	background-size: cover;
	background-image: url(../images/quienes-somos/quienes-somos.jpg);
	padding-top: 5%;
	padding-bottom: 5%;
}

#about-wrapper .about-left{
	height: 550px;
	background-color: #736f6f;
}

#about-wrapper .content-right{
	background-color: rgba(255, 255, 255, 0.91);
	width: 90%;
	height: 100%;
	margin-left: -10%;
}

#about-wrapper .wrapper{
	padding: 0;
}

#about-wrapper .content-left {
    margin-top: 8%;
    display: inline-block;
    padding: 0 150px 0 60px;
    color: #fff;
}

#about-wrapper span {
    color: #f5821a;
}

#about-wrapper .content-left .content-head:after {
    content: "";
    width: 170px;
    border-bottom: 2px solid #f5821a;
    position: absolute;
    left: 50px;
    margin-top: 40px;
}

#about-wrapper .content-left ul{
	margin-top: 30px;
}

#apostilla,#gestoria,#edicion{
	margin-bottom: 65px;
}

.welcome.text-center {
    background: rgba(245, 245, 245, 0.48);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
		color: #ff8517;
}

.row.padding-bottom{
	padding-top: 40px;
}

#traduccion ul{
  list-style: disc;
	padding-left: 30px;
}

#traduccion p,#traduccion ul{
	margin-bottom: 20px;
}

.section-btn{
	background-color: #ff8517 !important;
	color: #fff !important;
}
