/* lg */
@media (min-width: 1400px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	#about-us .image:after{
		display: none;
	}
	.tope{
		max-width: 100% !important;
	}

	.nav>li {
    margin-right: -5px;
}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#about-us .image:after{
		display: none;
	}
	.tope{
		max-width: 100% !important;
	}

	.nav>li {
    margin-right: -5px;
}
}

/* xs */
@media (max-width: 767px) {
	#payment .method:after{
		display: none;
	}
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 23px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 17px;
	}

#payment h1{
	font-size: 33px;
}
	/*===Home Page====*/

	/*Navigation*/

	#navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(1) > div, #navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(2) > div, #navigation > div > div > div:nth-child(2) > div > nav > ul > li.dropdown.open > ul > div > div > div:nth-child(3) > div {
	    border-right: none;
	}
	#navigation .drop-item .drop-link {
    margin: 35px 35px 35px 0px;
    text-align: center;
}

#navigation .drop-item .drop-content {
    margin: 35px !important;
}

	.navbar.navbar-fixed-top:not(.top-nav-collapse) {
		top: 0px !important;
		background-color: #fff;
		height: 90px;
		border-bottom: solid 2px #f5821a;
	}

	.navbar-toggle {
		border: 1px solid #ff8517;
		margin: 13px 5px 0px 5px;
	}

	.navbar-brand a {
    width: 79%;
}
.navbar-toggle .icon-bar {
    background-color: #ff8517;
}

#navigation .navbar-fixed-top .navbar-right {
    margin-top: 13% !important;
    background-color: #ff8517;
}

#navigation .navbar-right li a.active, #navigation .navbar-right li a:hover, #navigation .navbar-right li.active> a, .bottom-socials ul li a:hover, #navigation .navbar-right li i:hover, #navigation .topbar-icons span i:hover {
    color: #ffce30;
}

.client-content ul li {
    width: 28% !important;
    display: inline-block;
    margin: 0 5px 0 5px;
}
.slide-control.slide-control-left {
    left: -19px;
}

.slide-control.slide-control-right {
    right: 54px;
}

.jumbotron h1 {
	font-size: 41px;
}
.jumbotron p {
	font-size: 16px;

}
}

/* XS Portrait */
@media (max-width: 479px) {

	.client-content ul li {
		width: 50%;
	}
	#service .col-md-3 {
		float: none;
		margin-bottom: 45px;
		width: 100%;
	}
	.portfolio-item {
		width:100%;
	}
	.portfolio-content .overlay {
		padding: 100px 30px 30px 30px;
	}
	.overlay a.folio-detail,
	.overlay a.folio-link {
		left: 33px;
	}
	.overlay h2 {
		top:0;
	}
	.overlay p {
		top:5px;
	}
	.overlay a.folio-detail {
		top:50px;
	}
	.skill-data {
		line-height: 120px;
	}
	#team-carousel .carousel-inner .col-sm-3,
	.pricing-table .col-sm-3 {
		width: 100%;
		float: none;
	}
	.single-blog {
		height: auto;
	}
	.single-blog img {
		width: 100%;
	}
	.blog-image,
	.entry-content {
		float: none;
		width: 100%;
	}



	.blog1 .regu-news .sidebar .post .post-content {
		padding: 25px;
	}
	.blog1 .regu-news .post .post-content {
		padding: 15px;
	}
	.post .post-content {
		padding:20px;
	}
	#fun-fact .funs h3 {
		font-size: 12px;
		text-transform: capitalize;
	}
	#fun-fact .timer{
		font-size:25px;
	}
	#behind-app .col-sm-3, #screenshots-carousel  .col-sm-3{
		width:100%;
	}
	.member {
		width:100%;
	}
	.page-breadcrumb {
		min-height:360px;
	}
	#countdown ul li {
		margin-right:30;
		margin-bottom:20px;
	}
	.error-page-content {
		max-width:200px;
	}
	.filterable-product, .filterable-product.filter2 {
		width:100%;
	}
	.project .overlay {
		margin:20px;
	}
	.blog-search-top {
		width:275px;
	}
	.contact-info> .col-sm-3,
	.contact-info> .col-sm-6 {
		width:100%;
	}
}
