<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../partials/header %>
  </header>

  <div id="blog-breadcrumb" class="text-center page-breadcrumb">
    <div class="container">

    </div>
  </div><!--/.page-breadcrumb-->

  <div id="apostilla">
    <div class="welcome text-center">
      <h1> Apostilla</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-5 wrapper">
          <div class="about-left">
            <div class="content-left">
              <h1> Servicio de <span>Apostilamiento</span></h1>
              <p> Somos una empresa consolidada en la formación y capacitación del idioma Inglés. 3 años de experiencia liderando los procesos de enseñanza, aprendizaje y evaluación del idioma, avalan nuestro compromiso académico en el logro de objetivos de manera eficiente y eficaz; gracias a una metodología 100% garantizada que respalda nuestro plan educativo, lo que nos permite brindarle un servicio de primer nivel.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7 wrapper">
          <div class="about-right">
            <div class="content-right">
              <div class="col-md-12">
                <ul>
                  <li>
                    <p> REALIZAMOS EL PROCESO DE ASESORIA Y GESTORIA PARA APOSTILLAMIENTO DE DOCUMENTOS ANTE EL MINISTERIO DE RELACIONES EXTERIORES EN LA CIUDAD DE CARACAS.
                    </p>
                  </li>
                  <li>
                    <p> CONTACTENOS Y VISITENOS EN NUESTRA SEDE EN EL CC BIBLOS CENTER DE PUERTO ORDAZ. LA ATENCION ES EN PERSONA POR PARTE DE NUESTRO GERENTE GENERAL.
                    </p>
                  </li>
                  <li>
                    <p>PROVEANOS SUS DATOS PERSONALES Y ESCRIBANOS SOBRE SU CASO.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/#main-blog-->
  </div>
  <div class="text-center footer-top">
    <div class="overlay-bg"></div>
    <div class="container">
      <h2>Quieres trabajar con nosotros?</h2>
      <a href="contacto.html" class="btn btn-primary">Contáctenos</a>
    </div>
  </div>
    <footer id="footer">
      <% include ../../partials/footer %>
    </footer><!--/#footer-->

    <!--/#scripts-->
  </body>
  </html>
