<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head><!--/head-->
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header id="navigation">
    <% include ../partials/header %>
  </header>

  <div id="home-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 title">
          <!-- <h1>Bienvenidos a CENSOL</h1>
          <h3>Instituto de Idiomas</h3> -->
        </div>
        <div class="col-sm-5">
          <!-- <img class="image-top" src="images/home/bg/man.png" alt=""/> -->
        </div>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="container text-center ">
      <div class="row">
        <div class="welcome">
          <h1> CENSOL - Instituto de idiomas</h1>
        </div>
      </div>
      <div class="row">
        <div class="section-title">
          <h2>Nuestros Niveles<span> de Inglés</span></h2>
        </div>
      </div>
      <div class="row wrapper-row">
        <div class="col-sm-6">
          <div class="wrapper item-1">
            <figure>
              <div>
                <img src="/images/home/project/intro.png" alt="intro">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="wrapper item-2">
            <figure>
              <div>
                <img src="/images/home/project/ic1.png" alt="ic1">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="row wrapper-row">
        <div class="col-sm-6">
          <div class="wrapper item-3">
            <figure>
              <div>
                <img src="/images/home/project/ic2.png" alt="ic2">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="wrapper item-4">
            <figure>
              <div>
                <img src="/images/home/project/ic3.png" alt="ic3">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="row wrapper-row">
        <div class="col-sm-6">
          <div class="wrapper item-5">
            <figure>
              <div>
                <img src="/images/home/project/ps1.png" alt="s1">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="wrapper item-6">
            <figure>
              <div>
                <img src="/images/home/project/ps2.png" alt="ps2">
              </div>
              <figcaption>
                <h3> Intro </h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                <a class="btn btn-primary" href="#"> Ver mas</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
    <p><!--/Projects-->

    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="promotion" class="parallax-section">
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>FORMULARIO DE <span>INSCRIPCION</span> </h1>

            <a href="#" class="#"><script type="text/javascript"  src="//www.123contactform.com/includes/tinybox/tinybox.js.minified.js?2816b31"></script>

              <a href="http://www.123contactform.com/form-2322394/Encuesta" class="blueLink13">Llenar formulario</a>
            </div>
            <div class="col-sm-6">
              <img class="img-responsive" src="/images/home/ipad.png" alt=""  />
            </div>
          </div>
        </div>
      </div><!--/promotion--><!--/quote-section-->

      <div id="blog" class="padding-bottom">
        <div class="container">
          <div class="row">
            <div class="text-center section-title">
              <h2>Últimas <span>Noticias</span></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="entry-content">
                <a href="blog-detail.html"><img class="img-responsive" src="/images/home/blog/post1.jpg" alt="" /></a>
                <h2 class="entry-title"><a href="blog-detail.html">Las ventajas de ser bilingüe</a></h2>
                <p>Hace décadas que los investigadores indagan en los efectos que tiene en el cerebro humano el conocimiento de dos lenguas distintas. En la última reunión de la Sociedad Americana para el Avance de la Ciencia.</p>
                <div class="entry-meta">
                  <p><span><a href="#">Leer más</a></span><a href="blog-detail.html" class="read-more"></a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="entry-content">
                <a href="blog-detail.html"><img class="img-responsive" src="/images/home/blog/post2.jpg" alt="" /></a>
                <h2 class="entry-title"><a href="blog-detail.html">La motivación, clave para aprender a hablar inglés</a></h2>
                <p>El gran escollo continúa siendo el control oral del idioma. "Al alumno le falta exponerse a situaciones reales", dice una experta.</p>
                <div class="entry-meta">
                  <p><span><a href="#">Leer más</a></span><a href="blog-detail.html" class="read-more"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="entry-content">
                <a href="blog-detail.html"><img class="img-responsive" src="/images/home/blog/post3.jpg" alt="" /></a>
                <h2 class="entry-title"><a href="blog-detail.html">Hablar inglés permite incrementar ganancias económicas</a></h2>
                <p>El dominio del idioma inglés, además de ser una herramienta útil para el mundo laboral y para acceder a mejores salarios, brinda a los emprendedores la oportunidad de generar mayores ingresos.</p>
                <div class="entry-meta">
                  <p><span><a href="#">Leer más </a></span><a href="blog-detail.html" class="read-more"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/#blog-->

      <div id="twitter" class="text-center parallax-section">
        <div id="blog" class="padding-bottom">
          <div class="container">
            <div class="row">
              <div class="text-center section-title">
                <h2>Redes Sociales</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="entry-content">
                  <a href="blog-detail.html"><div class="fb-page" data-href="https://www.facebook.com/censolidiomas/?fref=ts" data-tabs="timeline" data-width="300" data-height="365" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/censolidiomas/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/censolidiomas/?fref=ts">Censol Venezuela</a></blockquote></div></a>
                  <h2><a href="https://www.facebook.com/censol.guayana">Facebook</a></h2>
                  <div class="entry-meta">
                  </div>
                  <a href="https://www.facebook.com/censol.guayana" class="read-more"><i class="fa fa-chevron-up"></i></a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="entry-content">
                  <a href="blog-detail.html"><img class=<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/0730938b85855da3b05830a93c1ae258.html" id="lightwidget_0730938b85" name="lightwidget_0730938b85"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe></a>
                  <h2><a href="https://www.instagram.com/censolguayana">Instagram</a></h2>
                  <div class="entry-meta">
                  </div>
                  <a href="https://www.instagram.com/censolguayana" class="read-more"><i class="fa fa-chevron-up"></i></a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="entry-content">
                  <a href="blog-detail.html"><a class="twitter-timeline" data-width="300" data-height="365" href="https://twitter.com/censolguayana">Tweets by censolguayana</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <h2><a href="https://twitter.com/censolguayana">Twitter</a></h2>
                  <div class="entry-meta">
                  </div>
                  <a href="https://twitter.com/censolguayana" class="read-more"><i class="fa fa-chevron-up"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div><!--/#blog-->
      </div>
    </div>
  </div>
</div>
</div><!--/twitter-->




<div id="clients" class="text-center padding-top padding-bottom">
  <div class="container">
    <div class="section-title">
      <h2>Estamos <span>Certificados</span></h2>
    </div>
    <div id="client-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="client-content">
            <ul>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client1.png" alt="" /></a></li>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client2.png" alt="" /></a></li>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client3.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="client-content">
            <ul>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client4.png" alt="" /></a></li>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client5.png" alt="" /></a></li>
              <li><a href="#"><img class="img-responsive" src="/images/home/clients/client6.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/#clients-->
<div class="text-center footer-top">
  <div class="overlay-bg"></div>
  <div class="container">
    <h2>Quieres trabajar con nosotros?</h2>
    <a href="contacto.html" class="btn btn-primary">Contáctenos</a>
  </div>
</div>
<footer id="footer">

</footer><!--/#footer-->
  <% include ../partials/footer %>
<!--/#scripts-->
</body>
</html>
