<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../partials/header %>
  </header>

  <div id="blog-breadcrumb" class="text-center page-breadcrumb">
    <div class="container">
      <h1>COMERCIA<span>LIZACION</span></h1>
      <p class="breadcrumb-text"></p>
    </div>
  </div><!--/.page-breadcrumb-->

  <div id="apostilla">
    <div class="welcome text-center">
      <!-- <h1> Apostilla</h1> -->
    </div>
    <div class="container">
      <div class="row">
        <div id="about-wrapper">
          <div class="col-xs-5 wrapper">
            <div class="about-left">
              <div class="content-left">
                <h1> Intercambio <span>Comercial</span></h1>
                <p class="content-head"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. .</p>
                <ul>
                  <li>
                    <p> CENSOL GUAYANA ofrece la asesoría y organización de eventos relacionados a cualquier índole en la ciudad, así como el patrocinio a eventos educativos y sociales que aportan al desarrollo integral de nuestra región.
                    </p>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="col-xs-7 wrapper">
            <div class="about-right">
            </div>
          </div>
        </div>
      </div>
    </div><!--/#main-blog-->
  </div>
  <div class="text-center footer-top">
    <div class="overlay-bg"></div>
    <div class="container">
      <h2>Quieres trabajar con nosotros?</h2>
      <a href="/nosotros/contacto" target="_blank" class="btn btn-primary">Contáctenos</a>
    </div>
  </div>

  <footer id="footer">
    <% include ../../partials/footer %>
  </footer><!--/#footer-->

  <!--/#scripts-->
</body>
</html>
