<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head><!--/head-->
<body>
  <header id="navigation">
    <% include ../../partials/header %>
  </header>

  <div id="blog-breadcrumb" class="text-center page-breadcrumb">
    <div class="container">

    </div>
  </div><!--/.page-breadcrumb-->

  <div id="apostilla" class="informacion-1">
    <div class="welcome  text-center">
      <h1> EVENTOS</h1>
    </div>
    <div class="container">
      <div class="row padding-bottom">

        <div class="col-md-6 ">
          <p>CENSOL GUAYANA ofrece la asesoría y organización de eventos relacionados a cualquier índole en la ciudad, así como el patrocinio a eventos educativos y sociales que aportan al desarrollo integral de nuestra región.</p>
          <a href="/nosotros/contacto" target="_blank" class="btn btn-primary section-btn">Contáctenos</a>
        </div>
        <div class="col-md-6">
          <img class="" src="/images/ingles/Joven.jpg" alt="" width="500" height=auto>
        </div>
      </div>
    </div><!--/#main-blog-->
  </div>
  <footer id="footer">
    <% include ../../partials/footer %>
  </footer><!--/#footer-->

  <!--/#scripts-->
</body>
</html>
