<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../../partials/head %>
</head><!--/head-->
<body>
<div  id="en-linea">


  <header id="navigation">
    <% include ../../../partials/header %>
  </header>

  <div class="text-center page-breadcrumb">
    <div class="container">
    </div>
  </div><!--/.page-breadcrumb-->

  <div class="welcome  text-center">
    <h1> INGLES EN LINEA</h1>
  </div>
  <section class="informacion-1" class="">
    <div class="container">
      <div class="row padding-bottom">

          <div class="col-md-8 ">
            <p>Aprende con nosotros en un entorno 100% en ingles, donde contaras con dvds y cds de videos, audios y textos para facilitar el aprendizaje continuo y garantizar el dominio completo del idioma de ingles al finalizar los programas de estudios.</p>
            <p>El programa de Ingles en linea cuenta  con la Serie <strong> “INTERCHANGE” Y “PASSAGES”, </strong> de la Editorial de la UNIVERSIDAD DE CAMBRIDGE, de Jack C. Richards, cuarta edición, New York, 2013 de <strong> 6 niveles</strong> </p>
          </div>
            <div class="col-md-4 ">
              <img class="img-responsive" src="/images/ingles/awesome.png">

            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-circle" src="/images/ingles/reloj-circular.png" alt="" width="140" height="140">
              <h2>Horario</h2>
              <p>A convenir con el estudiante</p>

              </div>

              <div class="col-md-4 text-center">
                <img class="img-circle" src="/images/ingles/calendario.png" alt="" width="140" height="140">
                <h2>Duración</h2>
                <p>2 meses (8 semanas)</p>

                </div>

                <div class="col-md-4 text-center">
                  <img class="img-circle" src="/images/ingles/certificado.png" alt="" width="140" height="140">
                  <h2>Profesores</h2>
                  <p>Nuestros Profesores estan certificados por la Universidad de Cambridge</p>

                  </div>
              </div>
        </div>
    </div>
  </section>

  <section id="informacion-2">

      <% include ../../../partials/contacto %>

    </section


  <footer id="footer">
    <% include ../../../partials/footer %>
  </footer><!--/#footer-->



</div>
  </body>
  </html>
